@import "markdown";
@import "highlight";

@mixin display-flexbox($value: flex) {
    @if $value == inline-flex {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
    } @else {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}
@mixin flexbox-direction($value: row) {
    @if $value == row-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: horizontal;
    } @else if $value == column {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
    } @else if $value == column-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;
    } @else {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
    }
    -webkit-flex-direction: $value;
    -moz-flex-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}

// ---------------------------  Variable  -------------------------------------
$gray: #999;
$body-font-color: #333;
$markdown-body-border-color: #ddd;

$default_font: "SF UI Display", "PingFang SC", "Hiragino Sans GB", "Helvetica", "Hiragino Sans GB", "Helvetica Neue", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", sans-serif;

$container-width: 1010px;
// ----------------------------------------------------------------------------

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    font-family: $default_font;
    color: $body-font-color;
}

em.chinese {
    font-style: normal;
    border-bottom: 1px dashed $body-font-color;
}

.btn {
    &:hover {
        text-decoration: none !important;
    }
}

.container {
    max-width: $container-width;
}

.sep {
    border: none;
    border-top: 1px dotted #eee;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 10px 0;
}

.markdown-body {
    padding: 45px;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid $markdown-body-border-color;
    border-radius: 3px;
    font-family: $default_font;

    img {
        max-width: 80%;
    }

    .footnote {
        font-size: .9em;
        margin-bottom: 40px;

        hr {
            margin: 20px 0;
        }

        .footnote-backref {
            font-family: sans-serif;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .highlighttable {
        overflow: auto;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: inherit;

        tr {
            border: 0;
            background-color: inherit;
        }

        td {
            padding: 0;
            margin: 0;
            border: 0;
        }

        pre {
            overflow: initial;
            margin: 0;
            border: 0;
            background-color: inherit;
        }

        .linenos {
            background-color: #f7f7f7;
            border-right: 1px solid #ddd;

            pre {
                color: #aaa;
            }
        }

        .code {
            width: 100%;
        }

        .highlight {
            margin: 0;
            border: 0;
        }
    }
}

.math {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
}

div.math {
    // .markdown-body p { margin-bottom: 16px }
    margin-top: -11px;
    margin-bottom: 5px;
}

span.math {
    @include display-flexbox(inline-flex);
}

.article-title {
    color: $body-font-color !important;
}

.article-list {
    hr {
        height: 1px;
        margin-bottom: 48px;
        background-color: #aaa;
    }

    .btn {
        color: $body-font-color;
    }
}

.post-info {
    font-size: 12px;
    color: $gray;

    .tag {
        color: #fff;
        background-color: $gray;
        border: 1px solid;

        &:hover {
            color: $body-font-color;
            background-color: #e6e6e6;
        }
    }

    .time {
        font-size: 1.1em;
        padding-left: 0;
    }
}

.page-header {
    margin: 20px 0;
    padding: 0;
    border-bottom: 0;

    h1, h2 {
        margin-top: 0;
        border-bottom: 0;
    }

    hr {
        margin-bottom: 0;
    }
}

.page-footer {
    margin-top: 40px;
    padding: 40px 0;
    background-color: #f7f7f7;

    a {
        color: inherit;
    }

    p {
        opacity: 0.8;
        margin: 5px 0;
    }

    hr {
        border-color: #e7e7e7;
    }
}

.categories-timestamp {
    color: #aaa;
    font-size: 0.9em;
    margin-right: 10px;
}

#archives {
    a {
        color: $body-font-color;
    }

    p:last-child {
        margin-bottom: 0px;
    }
}

#paginator {
    ul {
        padding-left: 0;
    }

    a {
        text-decoration: none;
    }

    .active {
        a {
            background-color: #555;
            border-color: #555;
        }
    }
}


@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;

        img {
            max-width: 100%;
        }
    }

    .navbar {
        margin-bottom: 15px;
    }

    .page-footer {
        margin-top: 15px;
        padding: 10px 0;

        .hidden-when-phone {
            display: none;
        }
    }

    div.math {
        border: 1px dotted rgba(204, 204, 204, 0.5);
        border-radius: 3px;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
        height: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}

@media (max-width: 320px) {
    .markdown-body {
        img {
            max-width: 100%;
        }
    }
}
