<footer class="post-info">
  <div class="row">
    <div class="col-xs-8">
    {% if article.tags %}
      <!-- <span class="label label-default">Tags</span> -->
      {% for tag in article.tags %}
        <a class="tag btn btn-xs" href="{{ SITEURL }}/{{ tag.url }}">
          {{ tag }}
        </a>
      {% endfor %}
    {% endif %}
    </div>

    <div class="col-xs-4 time">
      <time class="pull-right" datetime="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </time>
    </div>
  </div>
</footer>