{%- macro load_duoshuo(user, title) -%}
<div class="ds-share" data-thread-key="{{ title }}" data-title="{{ title }}" data-images="/favicon.ico" data-content="{{ title }}" data-url="{{ title }}">
    <div class="ds-share-inline">
      <ul  class="ds-share-icons-16">
        <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
        <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
        <li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt">微博</a></li>
        <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>
    </ul>
    <div class="ds-share-icons-more">
    </div>
</div>
</div>

<div class="ds-thread" data-thread-key="{{ title }}" data-title="{{ title }}" data-url="{{ title }}">
</div>

<script type="text/javascript">
var duoshuoQuery = {short_name:"{{ user }}"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
{%- endmacro %}